#painelHome{
    -fx-background-image: url("imagens/fundo.png");
    -fx-background-repeat: stretch;   
    -fx-background-size: 900 400;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0); 
}
#painel{
    -fx-background-color: #40b988;
}

#btnVoltar3{
    -fx-background-radius: 10;
}

#painelColeta{
    -fx-background-color: #40b988;
}

#btnVoltar2{
    -fx-background-radius: 10;
}

#painelInicio{
    -fx-background-color: #40b988;
}

#btnVoltar1{
    -fx-background-radius: 10;
}

#painelApoiador{
    -fx-background-color: #40b988;
}

#btnVoltar4{
    -fx-background-radius: 10;
}

#caixaAbrir{
    -fx-background-radius: 10;
}

#btnCadastro{
    -fx-background-radius: 10;
}