#painel{
    -fx-background-color: #40b988;
}

#btnVoltar3{
    -fx-background-radius: 10;
}

#painelColeta{
    -fx-background-color: #40b988;
}

#btnVoltar2{
    -fx-background-radius: 10;
}

#painelInicio{
    -fx-background-color: #40b988;
}

#btnVoltar1{
    -fx-background-radius: 10;
}

#painelApoiador{
    -fx-background-color: #40b988;
}

#btnVoltar4{
    -fx-background-radius: 10;
}

#caixaAbrir{
    -fx-background-radius: 10;
}

#btnCadastro{
    -fx-background-radius: 10;
}